<div class="ai-question-box container my-5">
  <h1 class="text-center mb-4">Pose ta question à l'IA</h1>

  <%= form_with url: questions_path, method: :post, local: true do |form| %>
    <div class="mb-4">
      <%= form.label :question, "Votre question :", class: "form-label fw-semibold" %>
      <%= form.text_area :question, class: "form-control shadow-sm", rows: 4, required: true, placeholder: "Exemple : Quel est l’histoire du jersey de 1998 ?", value: @question %>
    </div>
    <div class="d-grid">
      <%= form.submit "Envoyer", class: "btn btn-dark btn-lg animate-in delay-2" %>
    </div>
  <% end %>

  <% if @answer.present? %>
    <div class="ai-answer alert alert-success mt-4 animate-fade-in" role="alert">
    <%#=  <div class="alert alert-success mt-4" role="alert" style="white-space: pre-wrap;"> %>
      <strong>Réponse de l'IA :</strong><br />
      <%= simple_format(@answer) %>
      <%#= @answer %>
    </div>
  <% end %>
</div>
