<h1>Liste des Maillots</h1>

<%= link_to "Ajouter un nouveau maillot", new_jersey_path, class: "btn btn-success mb-3" %>

<div class="row">
  <% @jerseys.each do |jersey| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="<%= jersey.image_url %>" class="card-img-top" alt="<%= jersey.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= jersey.name %> (<%= jersey.year %>)</h5>
          <%= link_to "Voir le détail", jersey_path(jersey), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
